body {
  margin: 0;
  background: #f7f7f7;
  font-family: monospace;
}

.login {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .center {
  position: relative;
}

.ai {
  display: none;
  height: 100vh;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.intro {
  color: beige;
  background-color: cadetblue;
  padding: 15px;
  display: flex;
}

.intro h1{
    width: 95%;
    align-self: center;
    text-align: center;
}

.chat {
  background-color: beige;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.form {
  height: 60px;
  background: cadetblue;
  padding: 10px;
  display: flex;
  gap: 10px;
  position: absolute;
  width: 97.8%;
  bottom: 0;
}

.form input {
  flex: 1;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
}

.form button {
  width: 60px;
  border-radius: 10px;
  border: none;
  background-color: cadetblue;
  cursor: pointer;
}

.su, .sc {
  width: fit-content;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 10px;
  margin: 8px;
  font-weight: 700;
  word-wrap: break-word;
}

.su {
  color: cadetblue;
  border: 3px solid cadetblue;
  background-color: beige;
  margin-left: auto;
}

.sc {
  color: beige;
  background-color: cadetblue;
  margin-right: auto;
}

.loading {
  display: inline-block;
  color: cadetblue;
  font-style: italic;
  font-size: 14px;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.st img{
    width: 5%;
    height: 100%;
    padding-top: 10px;
}
.st {
    display: contents;
    float: right;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.centered-content {
  position: relative;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.cl-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  width: 25px;
  height: 25px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl-btn::after {
  content: "x";

}


